.product-card{
    width:15rem;
     margin-left:1.5rem;
}
.product-card-img{
    max-height: 10vh;
    max-width: 158px;
    object-fit: contain;
    margin: auto;
}
.product-btn{
    padding:0.3rem;
}