.shopping-card-firstDiv{
    display:flex;
    justify-content:space-between
}
.summary-card{
    width:20vw;
    height:60vh;
    background-color:blue;
    margin-right:3rem;
    margin-top:2rem;
}
.accordion-class{
    width:50vw;
    height:80vh;
    margin:2rem 2rem
}